@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  background-color: #e7e7e7;
}

.header {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

.header p {
  font-size: 14px;
  text-align: center;
}

.header input {
  width: 400px;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
}

hr {
  margin-top: 60px;
}
